:root {
  --color-hover: rgb(107, 105, 105);
  --font-size-large: 1.5rem;
  --font-size-large-active: 1.6rem;
  --margin-large: 1rem;
}

.leftAside {
  box-sizing: border-box;
  border: 0;
  margin: var(--margin-large);
  position: sticky;
  top: 0;
}

.category {
  color: black;
  border: 0;

  p {
    font-size: var(--font-size-large);
  }
}

.category:hover {
  cursor: pointer;
  color: var(--color-hover);
}
.category.active {
  font-weight: bold;
  font-size: var(--font-size-large-active);
}
