:root {
  --color-hover: rgb(107, 105, 105);
  --font-size-large: 1.5rem;
  --font-size-large-active: 1.6rem;
  --margin-large: 1rem;

  --background-color-sidebar: rgba(255, 255, 255, 0.2);
  --backdrop-filter-blur: blur(0.625rem);
  --box-shadow: -0.625 0 0.625 rgba(0, 0, 0, 0.1);
  --nav-item-hight: 3.125rem;
  --font-size: 1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: var(--background-color-sidebar);
  backdrop-filter: var(--backdrop-filter-blur);

  display: flex;
  flex-direction: column;
  margin: 0;
}

.mobileNavItem {
  width: 100%;
  height: var(--nav-item-hight);
  font-size: var(--font-size);
  border-bottom: solid;

  .navItemContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}

.mobileNavItem:first-child {
  background-color: hsl(0, 3%, 30%);
}
