.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.625rem);
  box-shadow: -0.625 0 0.625 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}

.mobileNavItem {
  width: 100%;
  height: 3.125rem;
  font-size: 1.5rem;
  border-bottom: solid;

  .navItemContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}

.mobileNavItem:first-child {
  background-color: hsl(0, 3%, 30%);
}
