:root {
  --border-radius-medium: 0.5rem;
  --box-shadow-default: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  --color-hover: hsl(0, 0%, 40%);
  --gap-medium: 0.625rem;
  --padding-small: 0.25rem;
  --transition-transform: transform 0.3s ease;
  --transform-translate-y-small: translateY(-0.313rem);
}

.activeFilterSection {
  box-sizing: border-box;
  border: 0;
}

.activeFilters {
  display: flex;
  padding: var(--padding-small);
  flex-wrap: wrap;
  gap: var(--gap-medium);
  border: 0;

  p {
    cursor: pointer;
    border: solid;
    padding: var(--padding-small);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-default);
    transition: var(--transition-transform);
  }

  p:hover {
    transform: var(--transform-translate-y-small);
    color: var(--color-hover);
  }
}
