:root {
  --gap-medium: 0.625;
}

.section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Horisontell scrollning */
  gap: var(--gap-medium);
  box-sizing: border-box;
  border: 0;

  @media (min-width: 48rem) {
    flex-wrap: wrap;
    overflow-x: visible;
    justify-content: space-evenly;
  }
}
